<div class="container">
  <%= form_for(post, html: {multipart: true, class: "dropzone"}) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, :data => { :provider => "summernote"} %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
