<style>
  html{
    font-family: 'Noto Sans', sans-serif;
  }
  section{
    height: 100%;
    margin-bottom: 10px;
  }

  footer{
    display: flex;
    justify-content: center;
  }

  .content>.container{
    margin-top: 10px;
  }

  .logo{
    height: 30%;
    width: 30%;
    margin: 10px;
  }
  
  .img_notebook{
    margin-top : 60px;
    width: 100%;
    height: auto;
  }
  
  .img_phone{
    margin-top : 60px;
    width: 100%;
    height: auto;
  }


</style>

<div class="container">
  <header class="col s4 offset-s4">
    <h3>WorkFolio</h3>
  </header>
  <section class="z-depth-1">
    <ul id="tabs-swipe-demo" class="tabs">
     <li class="tab col s4 m4 l4 xl4"><a class="active" href="#test-swipe-1">Work</a></li>
     <li class="tab col s4 m4 l4 xl4"><a href="#test-swipe-2">Profile</a></li>
     <li class="tab col s4 m4 l4 xl4"><a href="#test-swipe-3">Contact</a></li>
   </ul>

   <div id="test-swipe-1" class="col s12 content">
     <div class="divider"></div>
     <div class="row">
       <% @posts.each do |post| %>
         <% if post.image_type == "notebook" %>
             <div class="col s10 offset-s1">
                <a class="waves-effect waves-light modal-trigger" href="#modal<%= post.id %>"><%= image_tag img(post.id).first.images[0].url, :class => "img_notebook" %> </a>
             </div>
         <% else %>
             <% if previous_post_type(post.id) == "notebook" %>
                        <div class = "col s4 offset-s4">
                                <a class="waves-effect waves-light modal-trigger" href="#modal<%= post.id %>"><%= image_tag img(post.id).first.images[0].url, :class => "img_phone" %> </a>
                        </div>
                <% else %>
             <div class="col s3 offset-s2">
                <a class="waves-effect waves-light modal-trigger" href="#modal<%= post.id %>"><%= image_tag img(post.id).first.images[0].url, :class => "img_phone" %> </a>
             </div>
                <% end %>   
         <% end %>
           <%= link_to 'edit', edit_post_path(post) %>
       <% end %>
     </div>
   </div>
    
   <div id="test-swipe-2" class="col s12 content">
     <div class="divider"></div>
     <div class="container">
       <div class="row">
         <div class="profile col s6">
           <div class="name col s12">
             <h6>Name :</h6>
             <h5>CHOI HEE JAE</h5>
           </div>
           <div class="age col s12">
             <h6>Age :</h6>
             <h5>24</h5>
           </div>
           <div class="uni col s12">
             <h6>University :</h6>
             <h5>University of Seoul</h5>
           </div>
           <div class="major col s12">
             <h6>Major :</h6>
             <h5>Mathematic</h5>
           </div>
           <div class="city col s12">
             <h6>City :</h6>
             <h5>Seoul</h5>
           </div>
         </div>

         <div class="picture col s6">
           <img class="logo col s12" src="hcj.png" alt="hcj">
           <img class="logo" src="liklion.jpg" alt="ll">
           <img class="logo" src="lion.png" alt="l">
           <img class="logo" src="rub.jpg" alt="ruby">
         </div>
        </div>
     </div>
   </div>

   <div id="test-swipe-3" class="col s12 content">
       <div class="divider"></div>
       <div class="container">
           <div class="content" style="display:flex; flex-direction:column; justify-content:space-between;">
               <div class="email" style="margin : 10px">
                   E-mail : <a href="mailto:gmlwo530@google.com">gmlwo530@google.com</a>
               </div>
               <div class="ph" style="margin : 10px 10px 20px 10px">
                   Phone Number : 010-4919-6651
               </div>
           </div>
       </div>
   </div>
 </section>

 <footer>
   <%= link_to 'Log Out', session_destroy_path ,method: :delete %>
   &nbsp; &nbsp;
   <%= link_to 'Back', root_path %>
   &nbsp; &nbsp;
   <%= link_to "New", posts_new_title_path %>
 </footer>
</div>


